
$authPageBackgroundColor: linear-gradient(to bottom, #3699c7, #9eb0d1);
$authPageMainColor: rgba(154,212,231,255);
$authPageSecondColor: #F9FAFA;
$authPageMinorColor: linear-gradient(90deg, rgba(68,126,163,1) 0%, rgba(46,100,133,1) 100%);

$mainFontColor: #495151;
$contrastFontColor: #F9FAFA;
